body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* BARTOP */

.barTop{
  height: 100%;
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: sticky !important;
  top: 0 !important;
  z-index: 9999;
}
.iconBarTop{
  color: #5d914a;
}
.IconPatter{
  margin-left: 30px;
}

/* MENU */

.menuBG{
  background-color: #666;
  width: 100%;
  height: 800px;
}
.menuHeader{
  align-items: center;
  background-color: #5d914a !important;
  display: flex;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  color: white !important;
  justify-content: center;
  box-shadow: -4px 6px 15px 1px rgba(0,0,0,0.47);
  margin: 0 !important;
  top: 72px !important;
  z-index: 9998 !important;
  position: sticky !important;
}

.menuHeaderItem{
  font-style: oblique ;
  color: white !important;
  margin-left: 15px !important;
  text-transform: uppercase !important;
}

.menuBGText{
  font-family:  'Segoe UI'!important;
  font-weight: bold;
  color: white !important;
  font-size: 46px;
  margin-bottom: 100px;
  text-transform: uppercase; 
}

.menuBGButton{
  padding: 8px 12px;
  border: 1px solid white;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-family:  'Segoe UI'!important; 
}
.menuBGItems{
  display: flex;  
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


/* ABOUT */

.aboutGridCenter{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-direction: column;
  margin: 0 0 20px 0;
}
.aboutTitle{
  text-align: center;
  font-size: 38px;
  font-family:  'Segoe UI'!important;
  font-weight: bold;
  color:  #5d914a;
  margin: 25px 0;
  text-transform: uppercase;
}
.aboutTitleText{
  text-align: center;
  font-size: 36px;
  font-family:  'Segoe UI'!important;
  font-weight: bold;
  color:  #383428;
  margin: 25px 0;
  text-align: justify;
}
.aboutText{
  text-align: center;
  font-size: 34px;
  line-height: 50px !important;
  font-family:  'Segoe UI'!important;
  color:  #383428;
  margin: 25px 0;
  text-align: justify;
}
.aboutButton{
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  padding: 0px !important;
  margin: 0 !important;
  width: 450px;
  height: 450px;
  border-radius: 30px;
  background-color: #5d914a;
  color: white;
}

.aboutIcon{
  font-size: 200px !important;
  width: 450px !important;
  height: 450px!important;
  display: flex !important;
  align-items: center ;
  justify-content: center ;
  position: relative !important;
}

/* My team */ 

.boxMYT{
  width: 100%;
  height: 100%;
  padding: 200px 0;
  background-color: #5d914a;
  margin-top: 150px;
}

.boxMYTTitle{
  text-align: center;
  font-size: 36px;
  font-family:  'Segoe UI'!important;
  font-weight: bold;
  color:  #fff;
  margin: 25px 0 100px 0;
  text-align: justify;
}


.boxMYTItem{
  width: 100%;
  height: 100%;
  padding: 200px 0;
  background-color: #5d914a;
  margin-top: 150px;
}

.boxMYTItem{
  background-color: white; 
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.boxMYTIcon{
  color: #5d914a !important;
  font-size: 140px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative !important;
}

.boxMYTTextName{
  text-align: center;
  font-size: 36px;
  font-family:  'Segoe UI'!important;
  font-weight: bold;
  color:  #fff;
  margin: 25px 0;
}
.boxMYTText{
  font-size: 32px;
  font-family:  'Segoe UI'!important;
  color:  #fff;
  margin: 25px 0;
  text-align: justify;
  line-height: 35px !important;
}
.boxMYTWapperButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.boxMYTButton{
    padding: 50px;
    height: 100px;
    width: 400px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    color: white;
    border-radius: 25px;
    transition: 0.4s linear;
}
.boxMYTButton:hover{
  color: #5d914a;
  background-color: #fff;
}
/* FOOTER  */

.footer{
  background-color: white;
  height: 100px;
  width: 100%;
  font-size: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #5d914a;
  font-weight: bold;
  font-family:  'Segoe UI'!important;
}

.iconBarFooter{
  font-size: 48px;
  
}